@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: left;
}

pre {
  background: #2b2b2b;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  position: relative;
}
code {
  font-size: 18px;
}
.mr-10 {margin-right: 10px;}
.d-flex {display: flex;}
.mb-20 {margin-bottom: 20px;}

.copy-to-clipboard {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  padding: 10px 20px;
}